<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @function.name %>
</p>

<p>
  <b>Description:</b>
  <%= @function.description %>
</p>


<%= link_to 'Edit', edit_function_path(@function) %> |
<%= link_to 'Back', functions_path %>
