<%= simple_form_for @object_resource, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :tombamento %>
  <%= f.input :description %>
  <%= f.input :category_list %>

  <%= f.association :sector %>
  <%= f.association :place %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                object_resources_path, :class => 'btn' %>
  </div>
<% end %>
