<%- model_class = ObjectResource -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @object_resource.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @object_resource.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tombamento) %>:</strong></dt>
  <dd><%= @object_resource.tombamento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:categories) %>:</strong></dt>
  <dd><%= @object_resource.category_list %></dd>
  <dt><strong><%= model_class.human_attribute_name(:place) %>:</strong></dt>

  <% if @object_resource.place %>
    <dd><%= @object_resource.place.name %></dd>
  <% else %>
    <dd>Nenhum</dd>
  <% end %>
</dl>

<h3>Reservas associadas a este objeto</h3>

<%= render "reservations/reservations_table", reservations: @object_resource.reservations %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              object_resources_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_object_resource_path(@object_resource), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              object_resource_path(@object_resource),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
