<%- model_class = Reservation -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:begin) %></th>
      <th><%= model_class.human_attribute_name(:end) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.id, reservation_path(reservation) %></td>
        <td><%= reservation.begin %></td>
        <td><%= reservation.end %></td>
        <td><%= reservation.status %></td>
        <td><%=l reservation.created_at %></td>
        <td>
          <%= link_to t('.approve', :default => t("helpers.links.approve")),
                      approve_path(reservation),
                      :method => :post,
                      :class => 'btn btn-mini btn-approve' %>
          <%= link_to t('.reject', :default => t("helpers.links.reject")),
                      reject_path(reservation),
                      :method => :post,
                      :class => 'btn btn-mini btn-reject' %>
          <%= link_to t('.set_pending', :default => t("helpers.links.pending")),
                      pending_path(reservation),
                      :method => :post,
                      :class => 'btn btn-mini btn-pending' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      reservation_path(reservation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>